{% extends "base.html" %}
{% block content %}
        <h1>Blogs list</h1>
        {% if blogs %}
            {% for blog in blogs %}
            <div>
                <a href="{% url 'blog:owner_detail' blog.id %}">{{blog}} <img style=" max-width:50%; display:block; margin-left: auto; margin-right: auto;" src = "{% url 'blog:stream_cover_pic' blog.id %}"></a>
            </div>
            {% endfor %}
        {% else %}
            <p>There are no blogs.</p>
        {% endif %}
        <a href="{% url 'user_profile:profile_page' %}">Profile</a>
{% endblock %}